@use '../../styles/breakpoints' as bp;

.sign-up-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);

  @include bp.mobile-only {
    padding: 16px;
  }

  @include bp.tablet {
    padding: 24px;
  }
}
