.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #3369F3;
  color: #FFF;
  text-decoration: none;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: #2956C8;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
